<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<nav style="text-align:center; margin-bottom: 20px;">
  <a href="/">Home</a> |
  <a href="/about/">About</a>
</nav>

    {{ content }}
</body>
</html>
